body{
    background-color: #3D087B;
    width: 1366px;
height: 849px;
overflow-x: hidden;

}

.container{
 position: relative;
 top: 34px;
 left: 124px;  
}

#logo{
    position: relative;
  
    
} 

.set{
    background-color: white;
    top: 163px;
    left: 149px;
    width: 517px;
    height: 335px;
    padding: 5px    ;
    /* UI Properties */
    opacity: 1;
    border-radius: 15px;
}

.hr{
    width: 0px;
    height: 15px;
   margin-left: 12px;
}

.good{
    background-color: rgb(255, 255, 255, 0.23);
    width: 517px;
    height: 77px;
    font-family: "Baumans";
   
    /* text-align: center; */
    border-radius: 10px;   
    color: white;
    font-weight: 900;
}

.good1{
    position: relative;
    top: 18px;
    font-size: 1.4rem;
    text-align: left;
    padding-left: 15px;
}

.ones{
    top: 174px;
    left: 204px;
    width: 141px;
    height: 23px;
    margin-left: 25px;
    
}

.twos{
    margin-left: 25px;
}

.threes{
    margin-left: 25px;
}

.fours{
    margin-left: 25px;
}

#onece{
  margin-left: 49px;
}

#twoce{
    margin-left: 0px;
}

#threece{
    margin-left: 80px;
}

#fource{
    margin-left: 72px;
}
.img1{
    top: 169px;
    left: 149px;
    width: 34px;
    height: 34px;
}

.commen{
    width: 260px;
    height: 30px;
    border: 0px hidden;
}

.img{
    width: 34px;
    height: 34px;
}

#click{
    width: 12vw;
    height: 8vh;
    font-size: 20px;
    font-weight: 200;
    background:transparent linear-gradient(113deg,#6E54EC 0%, #CB52F8 40%, #FC5EFF 80% , #F1A7C5 100%);
    border-radius: 8px;

} 
#click:hover{
    background:transparent linear-gradient(113deg, #F1A7C5 0%, #FC5EFF 40%,#CB52F8 80%,#6E54EC 100%);
}

button:hover span {
    display: none;
  
}

button:hover:before {
    content: "Party time";
    
}

.container2{
    position: absolute;
    top: 42px;
    left: 706px;
}
.index{
    background-color: gray;
    width: 380px;
    height: 120px;
    border: #EDEDED;
    border-radius: 5px;
    position: absolute;
    right: 80px;
    z-index: -1;
}
.time{
    width: 536px;
    height: 110px;
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    /* padding-top: 20px; */
    align-items: center;
    z-index: 1;
    
    
}

.time1{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: #3D087B;
}

.collan{
    font-size: 45px;
    
}

.grab{
    background-color: #FFFFFF;
    width: 536px;
    height: 118px;
    border-radius: 8px;
    font-weight: bold   ;
    font-family: "Baumans";
    font-size: 28px;
    font-size: 1.7rem;
    text-align: center;
    color: #8E53F0;

    
    
}

.text{
    position: relative;
    top: 38px;
}


.t1{
   background-color:   #F6E2FF;
   width: 82px;
   height: 90px;
   border-radius: 5px; 
   text-align: center;
   color: #8A11BF;
   font-family: 'Barlow', sans-serif;
   font-size: 24px;
   line-height: 40px;


}

.am{
   background-image: url(./AM_svg.svg); 
   width: 82px;
   height: 90px;
   border-radius: 5px;
   text-align: center;
   font-family: 'Barlow', sans-serif;
   font-size: 35px;
   color: #FFFFFF;

}

.am1{
    position: relative;
    top: 25px;
}

/* Mobile responsiness  */


@media screen and (min-width: 320px) and (max-width: 480px){

    body{
        margin: 0;
        padding: 0;
        background-color: #3D087B;
        width: 100vw;
    /* height: 849px; */
        margin: 0;
    }
    
    .container{ 
        /* width: 40vw; */
     position: relative;
     top: 34px;
     left: 70px;  
     /* margin: 0;
     padding: 0; */
    }

    .container2{
        width: 100vw;
        position: absolute;
         top: 650px;
        left: 70px; 
        /* margin: 0;
        padding: 0; */
    }

    .set{
        
        /* width: 100%; */
    } 
    


    
}